page-user-details {

.backgound-image {
  background-image:url('../assets/img/background/banner.png');
  width: 100%;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
}

.searchbar-md .searchbar-input {
    padding: 6px 55px;
    border-radius: 25px;
    background-position: left 8px center;
    height: auto;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 3rem;
    color: #141414;
}
.searchbar-input {
    -moz-appearance: none;
    -ms-appearance: none;
    -webkit-appearance: none;
    appearance: none;
    display: block;
    width: 100%;
    border: 0;
    font-family: inherit;
}

.tag02 {
        // position: absolute;
        font-family: open-sans;
        color: #b7c4cb;
        float: right;
        font-size: 14px;
        margin-top: 5px;
    }

    .avatar03 {
       float: left;
       margin-top: 5px;
       width: 7%;
    }

    .blog03 {
        position: absolute;
        font-family: open-sans;
        font-size: 12px;
        color: map-get($colors, primary) !important;
        margin-top: 9px;
        left: 10vw;
    }

    .tag03 {
        // position: absolute;
        font-family: open-sans;
        color: #b7c4cb;
        float: right;
        font-size: 14px;
        margin-top: 5px;
    }

    .grid {
        background-color: #f7f8fa;
        padding: 0;
        padding-top: 8px;
        padding-bottom: 8px;
    }

}
